<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === "pikachu"){ %>
	<p>You made a good choice!</p>
	<img src="https://upload.wikimedia.org/wikipedia/en/a/a6/Pok%C3%A9mon_Pikachu_art.png">
<% } else { %>
		<p>Nope, you should have picked "Pikachu"!</p>
<% } %>

<p>P.S. This is from the love.ejs file!</p>